body { background: #b0f1d2; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 16px; display: flex; }
.block-database-0 { color: #a24345; font-size: 18px; margin-bottom: 5px; }
.block-uploader-1 { color: #4f196; font-size: 13px; margin-bottom: 5px; }
.block-product-2 { color: #15fe48; font-size: 13px; margin-bottom: 5px; }
.block-search-3 { color: #4bdb69; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #364dbc; font-size: 20px; margin-bottom: 5px; }